<h1> Edit Landmark: </h1>
<p><%=@landmark.name%>
<form action="/landmarks/<%=@landmark.id%>" method="post">

<input id="hidden" type="hidden" name="_method" value="patch">


<p>Landmark Name: <input type="text" id="landmark_name" name="landmark[name]" value="<%=@landmark.name%>">
<p>Year Completed: <input type="text" id="landmark_year_completed" name="landmark[year_completed]" value="<%=@landmark.year_completed%>">

<p><input type="submit" name="submit" id="Edit Figure" value="Edit Figure">
</form>
